body {
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    padding: 10px 0 10px 0;
    margin: 0;
    background-color: rgb(244, 244, 244);
    border-bottom: solid 1px rgb(158, 158, 158);
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#logo {
    letter-spacing: 2px;
}

header a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
}

header nav {
    padding: 0;
    margin: 0;
}

header nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

main {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.main-wrapper {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    width: 50%;
}

.article-top {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.article-top img {
    padding: 0;
    margin: 0;
}

.article-top h1 {
    padding: 10px;
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 36px;
    font-weight: 500;
}

.article {
    display: flex;
    padding: 10px;
    margin: 0;
    flex-direction: column;
}

.article article {
    padding: 0;
    margin: 0;
}