body {
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 460px) {
    #border-sides {
        border: 0 !important;
    }

    header nav ul {
        flex-direction: column !important;
        align-items: center !important;
    }
    
    .main-wrapper {
        width: 100% !important;
    }

    .article-top {
        padding: 5px !important;
    }

    .article-top h1 {
        padding: 0 !important;
    }

    .article {
        padding: 10px 10px 10px 10px !important;
    }
}

header {
    display: flex;
    /* padding: 10px 0 10px 0; */
    padding: 0;
    margin: 0;
    background-color: rgb(244, 244, 244);
    border-bottom: solid 1px rgb(158, 158, 158);
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.logo-top-div {
    display: flex;
    padding: 0;
    margin: 0;
    background-color: rgb(172, 79, 79);
    width: 100%;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

#logo {
    letter-spacing: 2px;
    font-size: 48px !important;
    color: rgb(255, 255, 255) !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: rgb(33, 33, 33);
    font-size: 24px;
}

header nav {
    padding: 0 0 5px 0;
    margin: 0;
}

header nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

#border-sides {
    padding: 0 10px 0 10px;
    border-right: solid 1px rgb(33, 33, 33);
    border-left: solid 1px rgb(33, 33, 33);
}

main {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.main-wrapper {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    width: 50%;
    /* background-color: rgb(250, 250, 250); */
}

.article-top {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.article-top img {
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

.article-top h1 {
    padding: 5px;
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 38px;
    font-weight: 500;
}

.article {
    display: flex;
    padding: 10px 0 0 0;
    margin: 0;
    flex-direction: column;
}

.article article {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.article article p {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.article-summary-h1 {
    padding: 0;
    margin: 0;
    font-size: 26px;
    font-weight: lighter;
}

.p-text-block {
    display: flex;
    padding: 10px 0 0 0;
    margin: 0;
    flex-direction: column;
    gap: 10px;
}

.added-date-h4 {
    display: flex;
    padding: 2px;
    margin: 0;
    align-self: flex-start;
    color: rgb(172, 172, 172);
    font-weight: lighter;
    font-size: 14px;
}